# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/extension/socialHelper/static
/extension/socialHelper/appDist/



extension/socialHelper/appDist/index.html
extension/socialHelper/appDist/asset-manifest.json
extension/socialHelper/manifest.json
